recursive-include src/qt_material *.css.template
recursive-include src/qt_material *.ui
recursive-include src/qt_material LICENSE
recursive-include src/qt_material/themes *.xml
recursive-include src/qt_material/fonts/ *.ttf
recursive-include src/qt_material/resources/ *
recursive-exclude * __pycache__
recursive-exclude * *.py[co]
recursive-exclude examples/ *
